<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/logout.css">
    <title>Document</title>
</head>
<body>
    <span>Xin chao tat ca cac ban </span>
    <h1 class="ahi">
        Xin chao cac ban ne
    </h1>
</body>
</html>